body {
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto ;
  gap: 10px;
  background-color: none;
  padding: 10px;
}

.grid-container > div > iframe{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}
 
main .grid-container .card{
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 15px;
  margin: 20px;
  width: 100%;
  transition: all 0.3s ease-out;
}

.footer{
    text-align: center;
    color: white;
    
}